@media screen and (max-width:576px){
    .nav-container {
       flex-direction: column;
       margin-bottom: 200px;
       
    }
    .nav-item-container{
        flex-direction: column;
        
        
    }
    
    .goat{
        
        flex-direction: column;
    }

}
    